<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>normal-word</key>
		<string>Hello, world!</string>
		<key>undercover-word</key>
		<string>Hello, earth!</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>MacBook Pro</string>
		<key>undercover-word</key>
		<string>MacBook Air</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>钢笔</string>
		<key>undercover-word</key>
		<string>铅笔</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>玫瑰</string>
		<key>undercover-word</key>
		<string>月季</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>孟非</string>
		<key>undercover-word</key>
		<string>乐嘉</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>牛奶</string>
		<key>undercover-word</key>
		<string>豆浆</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>保安</string>
		<key>undercover-word</key>
		<string>保镖</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>白菜</string>
		<key>undercover-word</key>
		<string>生菜</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>辣椒</string>
		<key>undercover-word</key>
		<string>芥末</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>金庸</string>
		<key>undercover-word</key>
		<string>古龙</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>赵敏</string>
		<key>undercover-word</key>
		<string>黄蓉</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>海豚</string>
		<key>undercover-word</key>
		<string>海狮</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>水盆</string>
		<key>undercover-word</key>
		<string>水桶</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>唇膏</string>
		<key>undercover-word</key>
		<string>口红</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>烤肉</string>
		<key>undercover-word</key>
		<string>涮肉</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>气泡</string>
		<key>undercover-word</key>
		<string>水泡</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>纸巾</string>
		<key>undercover-word</key>
		<string>手帕</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>杭州</string>
		<key>undercover-word</key>
		<string>苏州</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>香港</string>
		<key>undercover-word</key>
		<string>台湾</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>首尔</string>
		<key>undercover-word</key>
		<string>东京</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>橙子</string>
		<key>undercover-word</key>
		<string>橘子</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>葡萄</string>
		<key>undercover-word</key>
		<string>提子</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>太监</string>
		<key>undercover-word</key>
		<string>人妖</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>蝴蝶</string>
		<key>undercover-word</key>
		<string>蜜蜂</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>小品</string>
		<key>undercover-word</key>
		<string>话剧</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>裸婚</string>
		<key>undercover-word</key>
		<string>闪婚</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>新年</string>
		<key>undercover-word</key>
		<string>跨年</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>吉他</string>
		<key>undercover-word</key>
		<string>琵琶</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>公交</string>
		<key>undercover-word</key>
		<string>地铁</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>剩女</string>
		<key>undercover-word</key>
		<string>御姐</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>童话</string>
		<key>undercover-word</key>
		<string>神话</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>作家</string>
		<key>undercover-word</key>
		<string>编剧</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>警察</string>
		<key>undercover-word</key>
		<string>捕快</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>结婚</string>
		<key>undercover-word</key>
		<string>订婚</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>奖牌</string>
		<key>undercover-word</key>
		<string>金牌</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>那英</string>
		<key>undercover-word</key>
		<string>韩红</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>面包</string>
		<key>undercover-word</key>
		<string>蛋糕</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>面包</string>
		<key>undercover-word</key>
		<string>蛋糕</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>作文</string>
		<key>undercover-word</key>
		<string>论文</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>油条</string>
		<key>undercover-word</key>
		<string>麻花</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>壁纸</string>
		<key>undercover-word</key>
		<string>贴画</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>枕头</string>
		<key>undercover-word</key>
		<string>抱枕</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>手机</string>
		<key>undercover-word</key>
		<string>座机</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>同学</string>
		<key>undercover-word</key>
		<string>同桌</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>婚纱</string>
		<key>undercover-word</key>
		<string>喜服</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>老佛爷</string>
		<key>undercover-word</key>
		<string>老天爷</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>魔术师</string>
		<key>undercover-word</key>
		<string>魔法师</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>鸭舌帽</string>
		<key>undercover-word</key>
		<string>遮阳帽</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>双胞胎</string>
		<key>undercover-word</key>
		<string>龙凤胎</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>情人节</string>
		<key>undercover-word</key>
		<string>光棍节</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>丑小鸭</string>
		<key>undercover-word</key>
		<string>灰姑娘</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>富二代</string>
		<key>undercover-word</key>
		<string>高富帅</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>生活费</string>
		<key>undercover-word</key>
		<string>零花钱</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>麦克风</string>
		<key>undercover-word</key>
		<string>扩音器</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>郭德纲</string>
		<key>undercover-word</key>
		<string>周立波</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>图书馆</string>
		<key>undercover-word</key>
		<string>图书店</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>男朋友</string>
		<key>undercover-word</key>
		<string>前男友</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>洗衣粉</string>
		<key>undercover-word</key>
		<string>洗衣液</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>泡泡糖</string>
		<key>undercover-word</key>
		<string>棒棒糖</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>土豆粉</string>
		<key>undercover-word</key>
		<string>酸辣粉</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>蜘蛛侠</string>
		<key>undercover-word</key>
		<string>蝙蝠侠</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>口香糖</string>
		<key>undercover-word</key>
		<string>木糖醇</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>小笼包</string>
		<key>undercover-word</key>
		<string>灌汤包</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>甄嬛传</string>
		<key>undercover-word</key>
		<string>红楼梦</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>包青天</string>
		<key>undercover-word</key>
		<string>狄仁杰</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>大白兔</string>
		<key>undercover-word</key>
		<string>金丝猴</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>果粒橙</string>
		<key>undercover-word</key>
		<string>鲜橙多</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>沐浴露</string>
		<key>undercover-word</key>
		<string>洗发露</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>自行车</string>
		<key>undercover-word</key>
		<string>电动车</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>班主任</string>
		<key>undercover-word</key>
		<string>辅导员</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>过山车</string>
		<key>undercover-word</key>
		<string>碰碰车</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>铁观音</string>
		<key>undercover-word</key>
		<string>碧螺春</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>十面埋伏</string>
		<key>undercover-word</key>
		<string>四面楚歌</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>福尔摩斯</string>
		<key>undercover-word</key>
		<string>工藤新一</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>神雕侠侣</string>
		<key>undercover-word</key>
		<string>天龙八部</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>鱼香肉丝</string>
		<key>undercover-word</key>
		<string>四喜丸子</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>语无伦次</string>
		<key>undercover-word</key>
		<string>词不达意</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>麻婆豆腐</string>
		<key>undercover-word</key>
		<string>皮蛋豆腐</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>鼠目寸光</string>
		<key>undercover-word</key>
		<string>井底之蛙</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>近视眼镜</string>
		<key>undercover-word</key>
		<string>隐形眼镜</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>降龙十八掌</string>
		<key>undercover-word</key>
		<string>九阴白骨爪</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>红烧牛肉面</string>
		<key>undercover-word</key>
		<string>香辣牛肉面</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>梁山伯与祝英台</string>
		<key>undercover-word</key>
		<string>罗密欧与朱丽叶</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>元芳</string>
		<key>undercover-word</key>
		<string>展昭</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>麻雀</string>
		<key>undercover-word</key>
		<string>乌鸦</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>胖子</string>
		<key>undercover-word</key>
		<string>肥肉</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>状元</string>
		<key>undercover-word</key>
		<string>冠军</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>饺子</string>
		<key>undercover-word</key>
		<string>包子</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>端午节</string>
		<key>undercover-word</key>
		<string>中秋节</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>摩托车</string>
		<key>undercover-word</key>
		<string>电动车</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>高跟鞋</string>
		<key>undercover-word</key>
		<string>增高鞋</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>小矮人</string>
		<key>undercover-word</key>
		<string>葫芦娃</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>汉堡包</string>
		<key>undercover-word</key>
		<string>肉夹馍</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>蜘蛛侠</string>
		<key>undercover-word</key>
		<string>蜘蛛精</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>地铁</string>
		<key>undercover-word</key>
		<string>公交</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>火星</string>
		<key>undercover-word</key>
		<string>金星</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>自行车</string>
		<key>undercover-word</key>
		<string>三轮车</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>菜市场</string>
		<key>undercover-word</key>
		<string>超市</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>麦当劳</string>
		<key>undercover-word</key>
		<string>肯德基</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>神奇宝贝</string>
		<key>undercover-word</key>
		<string>数码宝贝</string>
	</dict>
	<dict>
		<key>normal-word</key>
		<string>Chris</string>
		<key>undercover-word</key>
		<string>Tom</string>
	</dict>
</array>
</plist>
